<!DOCTYPE html>
<base href="/">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SWENG465PROJECT</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="about.css">

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
               const accountIconClick = document.getElementById('account-clickable-icon');
               const accountPopup = document.getElementById('account-popup');

               // Toggle account menu visibility
               accountIconClick.addEventListener('click', () => {
                   if (accountPopup.classList.contains('open')) {
                       accountPopup.classList.remove('open');
                   } else {
                       accountPopup.classList.add('open');
                   }
                   // also close when scrolling
                   document.addEventListener('scroll', (event) =>{
                       if (accountPopup.classList.contains('open')) {
                           accountPopup.classList.remove('open');
                       }
                   });
               });

               document.addEventListener('click', (event) => {
                   if (!accountIconClick.contains(event.target) && !accountPopup.contains(event.target)) {
                       if (accountPopup.classList.contains('open')) {
                           accountPopup.classList.remove('open');
                       }
                   }
               });

                document.getElementById('about-us-link').href = '/about-us/' + window.location.search;
                document.getElementById('go-to-account').href = '/account/' + window.location.search;
                document.getElementById('home-link').href = '/home/' + window.location.search;
                document.getElementById('go-to-settings').href = '/home/' + window.location.search; // just goes home for now
                document.getElementById('feed-link').href = '/feed/' + window.location.search;
            });
       </script>
    </head>
    <body>
        <div class="content-pane d-flex flex-column ">
            <nav class="header navbar navbar-expand-lg" style="background-color: rgb(169, 219, 161); justify-content: space-between;">
                <img src="boot.png" width="40" height="40" class="d-inline-block align-top" alt="">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="tabs navbar-nav tab-margins" style="text-decoration: none;">
                        <a id='home-link' class="nav-link" href="/home">Home</a>
                        <a id='feed-link' class="nav-link" href="/feed">Feed</a>
                        <a id='about-us-link' class="nav-link" href="/about-us">About</a>
                    </div>
                </div>
                <div class="account-popup-container">
                    <!-- Icon essentially acts as a clickable icon with the javascript DOM manipulation -->
                    <div id="account-clickable-icon" class="account-clickable-icon">
                        <img src="pfp.png" width="40" height="40" alt="" class="rounded-circle profile-icon" >
                    </div>
                    <div id="account-popup" class="account-popup">
                        <ul>
                            <li>
                                <a id="go-to-account"  class="" href="/account">Account</a>
                            </li>
                            <li>
                                <!-- Settings page not existing yet -->
                                <a id="go-to-settings" class="" href="/home">Settings</a>
                            </li>
                            <li>
                                <a id="sign-out" class="" href="/">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="information d-flex flex-column">
                <ul>
                    <li> 
                        <p class="paragraph-content">
                            Hello, We are a dev team of 3 people
                        </p>
                    </li>
                    <li> 
                        <p class="paragraph-content">
                            We are in this to learn about web services and create a service for all of those hiking enthusiasts
                        </p>
                    </li>
                    <li>
                        <p class="paragraph-content">
                            Please let us know any suggestions for improving
                        </p>
                    </li>
                </ul>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>