<!DOCTYPE html>
<base href="/">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            SWENG465PROJECT
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="home.css">

        <script>

            async function loadEntries(){
                //let InnerHTML = document.getElementById('entry-grid').InnerHTML
                //InnerHTML = ''
                const response = await fetch('/home/load-entries', {
                        method: 'POST',
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        body: '',
                });
              
                let responseJSON = await response.json()
                console.log(responseJSON)
                
            }

            document.addEventListener('DOMContentLoaded', (event) => {                
                // button in bottom right corner 
                const stickyButton = document.getElementById('sticky-upload-btn');
                const accountIconClick = document.getElementById('account-clickable-icon');
                const accountPopup = document.getElementById('account-popup');

                loadEntries(); 

                // Toggle account menu visibility
                accountIconClick.addEventListener('click', () => {
                    if (accountPopup.classList.contains('open')) {
                        accountPopup.classList.remove('open');
                    } else {
                        accountPopup.classList.add('open');
                    }
                    // also close when scrolling
                    document.addEventListener('scroll', (event) =>{
                        if (accountPopup.classList.contains('open')) {
                            accountPopup.classList.remove('open');
                        }
                    });
                });

                // Toggle Add Entry Modal
                stickyButton.addEventListener('click', () => {
                    $('#add-entry-modal').modal('toggle')
                });

                // Close the menus when clicking outside
                document.addEventListener('click', (event) => {
                    if (!stickyButton.contains(event.target) && !uploadPopup.contains(event.target)) {
                        if (uploadPopup.classList.contains('visible')) {
                            uploadPopup.classList.remove('visible');
                        }
                    }

                    if (!accountIconClick.contains(event.target) && !accountPopup.contains(event.target)) {
                        if (accountPopup.classList.contains('open')) {
                            accountPopup.classList.remove('open');
                        }
                    }
                });

                let addEntryForm = document.getElementById('add-entry-form')

                addEntryForm.addEventListener('submit', async (event) => {
                    event.preventDefault(); 

                    let title = document.getElementById('title-text').value;
                    let description = document.getElementById('description-text').value
                    let whatHappened = document.getElementById('what-happened-text').value
                    let photoUpload = document.getElementById('picture-upload')

                });

                //Update elements with user, to pass user to all screens that can be navigated to.
                document.getElementById('about-us-link').href = '/about-us/' + window.location.search;
                document.getElementById('go-to-account').href = '/account/' + window.location.search;
                document.getElementById('home-link').href = '/home/' + window.location.search;
                document.getElementById('go-to-settings').href = '/home/' + window.location.search; // just goes home for now
                document.getElementById('feed-link').href = '/feed/' + window.location.search;

                const imagesOnCards = document.querySelectorAll('.img-on-card');
                const imgModal = document.getElementById('modal1');
                const modalContent = document.getElementById('img01');
                const closeButton = document.getElementById('close-modal');

                // When the user clicks the image, open the modal
                function openModal(e) {
                    imgModal.style.display = "block";
                    modalContent.src = this.src; 
                }

                // When the user clicks the close button or anywhere outside the modal, close it
                function closeModal () {
                    imgModal.style.display = "none";
                }

                // Add click event listeners to all imageModals
                imagesOnCards.forEach((image) =>{
                    image.addEventListener('click', openModal);
                })

                closeButton.onclick = closeModal

                 // Add click event listener to close the modal when clicking outside
                window.onclick = function (event) {
                    if (event.target == modal) {
                        closeModalFunction();
                    }
                }
            });

        </script>
    </head>

    <body>
        <div class="d-flex flex-column" style="height: 100vh;">
            <nav class="header navbar navbar-expand-lg" style="justify-content: space-between;">
                <div class="left-side-header d-flex flex-row align-items-center">
                    <img src="boot.png" width="40" height="40" class="d-inline-block align-top" alt="">
                    <div class="tabs-container" id="navbarNavAltMarkup">
                        <div class="tabs tab-margins d-flex flex-row justify-content-between" style="text-decoration: none;">
                            <a id='home-link' class="home-link" href="/home">Home</a>
                            <a id='feed-link' class="feed-link" href="/feed">Feed</a>
                            <a id='about-us-link'class="about-us-link" href="/about-us">About</a>
                        </div>
                    </div>
                </div>
                <div class="account-popup-container">
                    <!-- Icon essentially acts as a clickable icon with the javascript DOM manipulation -->
                    <div id="account-clickable-icon" class="account-clickable-icon">
                        <img src="pfp.png" width="40" height="40" alt="" class="rounded-circle profile-icon" >
                    </div>
                    <div id="account-popup" class="account-popup">
                        <ul>
                            <li>
                                <a id="go-to-account"  class="" href="/account">Account</a>
                            </li>
                            <li>
                                <!-- Settings page not existing yet -->
                                <a id="go-to-settings" class="" href="/home">Settings</a>
                            </li>
                            <li>
                                <a id="sign-out" class="" href="/">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <!--Add Entry Modal-->
            <div class="modal fade" id="add-entry-modal" tabindex="-1" role="dialog" aria-labelledby="addEntryModal" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="add-entry-modal-title">Add a Journal Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form id="add-entry-form">
                                <div class="form-group">
                                  <label for="title-text">Title:</label>
                                  <input type="text" id="title-text" name="title" class="form-control">
                                </div>
                                <div class="form-group">
                                  <label for="description-text">Description:</label>
                                  <input type="text" id="description-text" name="description" class="form-control">
                                </div>
                                <div class="form-group">
                                  <label for="what-happened-text">What Happened? :</label>
                                  <textarea id="what-happened-text" name="what-happened" rows="4" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="picture-upload">Upload a picture:</label>
                                  <input type="file" id="picture-upload" name="picture" accept="image/*" class="form-control-file">
                                </div>
                              </form>
                              
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="save-entry-button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="d-flex flex-row" style="flex-grow: 1;">
                <div class="d-flex flex-column" style="flex-grow: 1; flex-basis: 75%;">
                    <div id='entry-grid' class="card-grid">
                        <!-- Example 1 -->
                        <div class="card d-flex">
                            <img class="img-on-card card-img-top" src="example1.jpg" alt="Card image cap">
                            <!-- Modal div to be opened for enlarged picture -->
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is one journal entry, containing a title as well as an image that the user uploaded when it was created.</p>
                                <a href="#" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                        </div>

                        <!-- Example 2 -->
                        <div class="card d-flex">
                            <img class="img-on-card card-img-top" src="example2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title again</h5>
                                <p class="card-text">This is another journal entry with a different image and caption.</p>
                                <a href="#" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                        </div>

                        <!-- Example 3 -->
                        <div class="card d-flex">
                            <img class="card-img-top" src="example3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vertical img test</h5>
                                <p class="card-text">Another test entry</p>
                                <a href="#" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                        </div>

                        <!-- Example 4 -->
                        <div class="card d-flex">
                            <img class="card-img-top" src="example4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Really really really really long title test</h5>
                                <p class="card-text">hi</p>
                                <a href="#" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                        </div>

                        <!-- Example 5 -->
                        <div class="card d-flex">
                            <img class="card-img-top" src="example5.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vertical img test2</h5>
                                <p class="card-text">Lorem ipsum blah blah asnkdfkjsnfkjasnfkj trying to make a long description
                                    and trying to think of something to say Idk lol
                                    (martin please give us A)
                                </p>
                                <a href="#" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TODO: GET AN SVG ICONS LIBRARY OF SOME KIND MAYBE. TRIED USING PNGS FOR LITTLE ICONS SUCH AS PLUS SIGN (ADD), PENCIL (EDIT), DELETE (TRASH CAN), BUT IT LOOKS LIKE HOT GARBAGE-->
                <div class="upload-btn-container d-flex flex-column" style="flex-grow: 1; flex-basis: 25%;">
                    <!-- The button to open the upload menu -->
                    <button type="button" id="sticky-upload-btn" class="btn btn-primary btn-lg rounded-circle">+</button>
                    <!--<ul id="upload-popup-btn" class="upload-popup-btn">
                        <li>
                            <button id="new-upload-btn" type="button" class="btn btn-primary btn-lg">Upload entry</button>
                        </li>
                    </ul>  -->
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>