/* overall body styling */
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/* adjustable content pane to hold the page contents */
.content-pane{
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-height: 100%;
    min-height: 25%;
}

/* header styling */
.header{
    background-color: rgb(169, 219, 161);
    height: 10%;
    max-height: 10%;
    width: 100%;
    padding: 12px;
    flex: 1;
}

/* additional styling for the Home, Feed, and About tabs */
.tab-margins{
    margin-left: 20px;
}


.about-us{
    flex: 1;
    font-size: 28px; /* Initial font size */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide text that overflows the container */
    text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
    transition: font-size 0.2s;
    font-weight: 700;
    height: 100%;
    max-width: fit-content;
    align-self: center;
}

/* Change the screen whenever  */
@media screen and (max-width: 768px) {
    .about-us {
      font-size: 20px; /* Decrease font size for smaller screens */
    }
}

/* styling for the tabs bar */
.tabs {
    flex: 1;
    justify-content: flex-start;
    max-width: fit-content;
    border: none;
}

/* tabs to other pages do not have border when hovered over */
.nav-tabs .nav-link{
    border: none;
}

/* additional styling for the profile picture icon */
.profile-icon{
    background-color: lightgray;
    padding: 8px;
    align-items: center;
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
}

/* about information */
.information{
    margin-top: 10%;
}

/* ul styling */
ul{
    list-style-type: none;
}

/* list items styling */
li{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    margin: 4px 0px;
}

/* content of the p tags in the list items */
.paragraph-content{
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
}