body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.content-pane{
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-height: 100%;
    min-height: 25%;
}

.header{
    background-color: rgb(169, 219, 161);
    height: 10%;
    max-height: 10%;
    width: 100%;
    padding: 12px;
    flex: 1;
}

.about-us{
    flex: 1;
    font-size: 28px; /* Initial font size */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide text that overflows the container */
    text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
    transition: font-size 0.2s;
    font-weight: 700;
    height: 100%;
    align-self: center;
}

/* Change the screen whenever  */
@media screen and (max-width: 768px) {
    .about-us {
      font-size: 20px; /* Decrease font size for smaller screens */
    }
}

.information{
    margin-top: 10%;
}

ul{
    list-style-type: none;
}

li{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    margin: 4px 0px;
}

.paragraph-content{
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
}