.content-pane{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.header{
    background-color: rgb(77, 124, 77);
    height: 20%;
    font-size: 28px;
    font-weight: 700;
    padding: 6px;
}

.fuck-css{
    background-color: red;
}