.custom-card{
    box-shadow: 12px rgba(5, 63, 15, 0.5);
    width: 40vw!important;
}

.email-input{
    width: 80%;
    max-width: 100%;
}

.password-input{
    width: 80%;
    max-width: 100%;
}

.btn{
    width: 40%;
    max-width: 45%;
}

.text-input-container{
    flex: 1;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}